<div id='title_line'>
  <h1><%= @contact.name %></h1>
</div>
<hr>
<h3><%= @contact.phone %></h3>
<h3><%= @contact.email %></h3>
<hr/>
<p>
<%= link_to 'Edit contact', edit_contact_path(@contact) %> || 
<%= link_to 'Delete contact', @contact, method: :delete %>
<br>
<%= link_to 'All Contacts', contacts_path %>